global
  daemon
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  maxconn 4096
  tune.ssl.default-dh-param 2048

defaults
  log               global
  retries           3
  maxconn           2000
  timeout connect   5s
  timeout client    50s
  timeout server    50s
  balance leastconn
  option abortonclose

listen stats
  bind *:82
  balance
  mode http
  stats enable
  stats realm Haproxy\ Statistics
  stats show-legends
  stats show-node Multi-WordPress
  stats refresh 60
  stats uri /stats
  stats auth admin:admin

frontend TrafficIn
  bind *:80
  mode http
  use_backend TrafficOut
  default_backend TrafficOut

backend TrafficOut
  balance roundrobin
  mode http
  option forwardfor
  option httpchk GET /index.php
  http-check expect rstatus (2|3)[0-9][0-9]
  server wp1 wp1:80 check inter 10000
  server wp2 wp2:80 check inter 10000
  server wp3 wp3:80 check inter 10000
